version: '3.8'

services:
  backend:
    build: ./backend
    command: gunicorn --bind 0.0.0.0:8000 legal_doc_generator.wsgi:application
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      - DEBUG=False
      - ALLOWED_HOSTS=*

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
